@charset "utf-8";



@import url("https://unpkg.com/sanitize.css");


@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');


@import url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css");



/*全体の設定
---------------------------------------------------------------------------*/
html,body {
	overflow-x: hidden;
    min-height: 100%;    /*背景グラデーション用*/
    font-size: 20px;    /*基準となるフォントサイズ。下の方にある「画面幅800px以上」で基準を大きなサイズに変更しています。*/
}

body {
	font-family: 'M PLUS Rounded 1c', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	-webkit-text-size-adjust: none;
    background: linear-gradient(#5ee74e, #16a0db 300px);/*#7b41a8から#452571への背景グラデーション。*/
	color: #fff;	    /*全体の文字色*/
	line-height: 3;		/*行間*/
}

/*マージンのリセット*/
figure {margin: 0;}
dd {margin: 0;}


/*画像全般の設定*/
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}

/*section全般の設定*/
section + section {
	padding-top: 30px;	/*sectionの間に空けるスペース*/
}


/*リンクテキスト全般の設定
---------------------------------------------------------------------------*/
a {
	color: #fff;	/*文字色*/
}

a:hover {
	color: #eee;	/*マウスオン時の文字色*/
}

/*headerブロック（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*headerブロック*/
header {
    text-align: center;		/*中身をセンタリングする*/
    padding-top: 20px;		/*上に空ける余白*/
}

header #logo {   
    margin: 0;
    letter-spacing: 0.1em;    /*文字間隔を少しだけ広くとる設定*/
    font-size: 2.2rem;        /*文字サイズ。remの単位についてはテンプレート内の解説をお読み下さい。*/
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);    /*テキストの影。右へ、下へ、ぼかし幅の順番。0,0,0は影の色(黒)のことで0.2は色が20%出た状態。*/
}
header #logo a {
    text-decoration: none;
}




/*mainブロック
---------------------------------------------------------------------------*/
main {
    display: block;		/*IE用*/
    margin: 50px 20px;	/*上下、左右へのブロックの外側へ空けるスペース*/
}

/*ブロック内のh2タグ*/
main h2 {
    display: inline-block;
	font-size: 1.6rem;		/*文字サイズ。remの単位についてはテンプレート内の解説をお読み下さい。*/
	margin-bottom: 50px;	/*下に空けるスペース*/
    letter-spacing: 0.1em;	/*文字間隔を少しだけ広くとる設定*/
    border-bottom: 3px solid #fff;	/*下線の幅、線種、色*/
}

/*ブロック内のh3タグ*/
main h3 {
	font-size: 1.4rem;		/*文字サイズ。remの単位についてはテンプレート内の解説をお読み下さい。*/
	margin-bottom: 40px;	/*下に空けるスペース*/
}

/*mainブロックのpタグ*/
main p {
	margin-bottom: 40px;	/*下へ空けるスペース*/
}

/*細々微調整*/
h2 + h3, h2 + p, h3 + p {
    margin-top: -20px;
}

/*フッター設定
---------------------------------------------------------------------------*/
footer small {font-size: 100%;}

footer {
	font-size: 0.6rem;		/*文字サイズ。remの単位についてはテンプレート内の解説をお読み下さい。*/
	text-align: center;		/*内容をセンタリング*/
	padding: 20px;			/*ボックス内の余白*/
}

/*リンクテキスト*/
footer a {text-decoration: none;}







/*スライドショー（slickを使用）
---------------------------------------------------------------------------*/
.mainimg {
	position: relative;
	height: 50vw;
	object-fit: cover;
}

.slick-slide {
    margin: 10px;	/*スライドショー画像同士の間にあけるスペース*/
}

.slick-slide img {
    border-radius: 10px;	/*画像の角丸。丸くカットしない場合は、この１行を削除。*/
    box-shadow: 3px 3px 8px rgba(0,0,0,0.2);	/*ボックスの影。右へ、下へ、ぼかし幅の順。0,0,0は黒色のことで0.2は色が20%出た状態のこと。*                             
    height: 40vw;
    object-fit: cover;
}

/*丸いページナビボタン全体を囲むブロック*/
.slick-dots {
	text-align: center;
	width: 100%;
	margin:0;padding: 0;
	line-height: 1;
	position: absolute;
	bottom: 20px;	/*下からの配置場所指定*/
}

/*丸いページナビボタン１個あたりの設定*/
.slick-dots li {
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
}

/*buttonタグ*/
.slick-dots li button {
	display: block;
    padding: 0;
    border: none;
    border: 1px solid #452571;	/*枠線の幅、線種、色*/
	text-indent: -9999px;	/*デフォルトで文字が出るので画面の外に追い出す指定*/
	width: 12px;			/*ボタンの幅*/
	height: 12px;			/*ボタンの高さ*/
	border-radius: 50%;		/*丸くする指定*/
	background: #fff;		/*背景色。白。*/
}

/*buttonのアクティブ時（現在表示されている画像を示すボタン）*/
.slick-dots li.slick-active button {
	background: #452571;	/*色*/
}






/*---------------------------------------------------------------------------
ここから下は画面幅600px以上の追加指定
---------------------------------------------------------------------------*/
@media screen and (min-width:600px) {

/*メニューの設定
---------------------------------------------------------------------------*/
/*リンクテキストの設定*/
#menubar a {
	padding: 0 20px;	/*上下、左右へのテキスト内にとる余白。*/
}

/*service.htmlの各ボックス
---------------------------------------------------------------------------*/
.list {
	margin-bottom: 40px;	/*ボックス同士（上下間）に空けるスペース*/
}

/*画像の設定（listブロック内にある１つ目の画像が対象）*/
.list img:first-of-type {
	width: 30%;			/*画像の幅*/
	float: left;		/*画像を左に回り込みさせる*/
	margin-right: 20px;	/*画像と、右側のテキストとの間に空けるスペース*/
}

/*　※注意！　下の閉じカッコ　}　は600px以上の設定に必要なので、うっかり削除しないように。　*/

}



/*---------------------------------------------------------------------------
ここから下は画面幅800px以上の追加指定
---------------------------------------------------------------------------*/
@media screen and (min-width:800px) {

/*全体の設定
---------------------------------------------------------------------------*/
html, body {
	font-size: 18px;	/*基準となるフォントサイズの上書き*/
}

/*section全般の設定*/
section + section {
	padding-top: 50px;	/*sectionの間に空けるスペース*/
}

/*headerブロック（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*headerブロック*/
header {
    padding: 30px 0;       /*上下、左右へ空ける余白*/
}

/*メニューの設定
---------------------------------------------------------------------------*/
/*ボックス全体の設定*/
#menubar ul {
    margin: 20px 70px;    /*上下、左右へのブロックの外側へ空けるスペース*/
}

/*mainブロック
---------------------------------------------------------------------------*/
main {
    margin: 50px 70px;	/*上下、左右へのブロックの外側へ空けるスペース*/
}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	padding: 20px 15px;		/*上下、左右へのボックス内の余白*/
}

/*th（左側）、td（右側）の共通設定*/
.ta1 th, .ta1 td {
	padding: 20px 15px;		/*上下、左右へのボックス内の余白*/
}

/*th（左側）のみの設定*/
.ta1 th {
	width: 20%;		/*幅*/
}

/*その他
---------------------------------------------------------------------------*/
.ws {width: 45%;display: inline-block;}

/*　※注意！　下の閉じカッコ　}　は800px以上の設定に必要なので、うっかり削除しないように。　*/

}
